# Java (Spring Boot)
*.class
*.jar
*.war
*.log
target/
.idea/
*.iml

# Node (Angular)
node_modules/
dist/
*.log

# OS specific files
.DS_Store
Thumbs.db

# Maven
*.mvn
.mvn/

# Ignore docker-compose.yml
docker-compose.yml

